:root {
    --error-color: darkred;
    --success-color: darkgreen;
    --input-color: #596D48;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100dvh;
}

.banner {
    flex-grow: 1;
    border: black solid 1px;

    background-image: url("/images/background_photo_annie_spratt.avif");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    margin: 20px;
    margin-top: 100px;
}

.banner-footer {
    margin: 20px;
}

.form {
    flex-grow: 2;
    background-color: whitesmoke;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

.form-presentation-text {
    max-width: 1000px;
    margin: 25px;
}

.form-body {
    background-color: white;
    box-shadow: 5.9px 11.8px 11.8px hsl(0deg 0% 0% / 0.32);
}

.form-title {
    margin: 25px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 25px;
}

.form-inputs {
    display: flex;
    gap: 60px;
}

.form-input {
    display: flex;
    flex-direction: column;
}

.form-footer {
    margin: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    button  {
        background-color: var(--input-color);
        border-radius: 5px;
        color: white;
        font-weight: bold;
        box-shadow: 2px 5px 5px hsl(0deg 0% 0% / 0.12);
        border: none;

        width: 160px;
        height: 40px;
    }

    a {
        color: var(--input-color)
    }
}