:root {
    --error-color: darkred;
    --success-color: darkgreen;
    --input-color: #596D48;

    --form-side-margin: 45px;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:0;
}

.main-body {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100dvh;
}

.banner {
    flex-grow: 1;
    border: black solid 1px;
    width: 33%;

    background-image: url("images/background_photo_annie_spratt.png");
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.banner-title {
    margin: 20px;
    margin-top: 200px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

    width: 100%;
    height: 120px;

    font-size: 75px;
    font-weight: 700;
    font-family: 'UnifrakturMaguntia', Arial, sans-serif;
    color: white;

    background-color: rgb(0, 0, 0, 30%);

    img {
        width: 80px;
        height: 100px;
    }
}

.banner-footer {
    margin: 20px;
    color: white;
    background-color: grey;

    a {
        color: var(--input-color)
    }
}

.form {
    flex-grow: 2;
    background-color: whitesmoke;
    width: 66%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.form-presentation-text {
    max-width: 1000px;
    margin-left: var(--form-side-margin);
    margin-bottom: 25px;

    font-size: larger;
    font-weight: bold;
}

.form-body {
    background-color: white;
    box-shadow: 5.9px 11.8px 11.8px hsl(0deg 0% 0% / 0.32);
    height: 300px;
    margin-bottom: 25px;
}

.form-title {
    margin: 10px;
    margin-left: var(--form-side-margin);

    font-size: larger;
    font-weight: bold;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 25px;
    margin: 10px;
    margin-top: 25px;
    margin-left: var(--form-side-margin);
}

.form-inputs {
    display: flex;
    gap: 60px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 3px;

    input {
        height: 24px;
        width: 220px;

        border: solid 1px #E5E7EB;
    }

    input:user-invalid {
        border-color: var(--error-color);
    }

    input:user-valid {
        border-color: var(--success-color);
    }
}

.form-footer {
    margin: 10px;
    margin-left: var(--form-side-margin);
    display: flex;
    flex-direction: column;
    gap: 25px;

    button {
        background-color: var(--input-color);
        border-radius: 5px;
        color: white;
        font-weight: bold;
        box-shadow: 2px 5px 5px hsl(0deg 0% 0% / 0.12);
        border: none;
        font-size: large;

        width: 180px;
        height: 45px;
    }

    a {
        color: var(--input-color)
    }
}